<main>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle zoomable" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <circle cx="70" cy="70" r="70" fill="var(--bs-light)"></circle>
                    <image x="0" y="0" width="140" height="140" xlink:href="assets/img/canario sem fundo.png" />
                </svg>
                <h2 class="fw-normal">Canário</h2>
                <p> Os canários são aves pequenas e coloridas originárias das Ilhas Canárias. Eles são apreciados por seu canto agradável e variado, que pode ser uma verdadeira melodia. Além das cores naturais, existem variedades de cores criadas por criadores. São aves relativamente fáceis de cuidar e podem ser mantidas em gaiolas.</p>
                <p><a class="btn btn-danger" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle zoomable" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <circle cx="70" cy="70" r="70" fill="var(--bs-light)"></circle>
                    <image x="0" y="0" width="140" height="140" xlink:href="assets/img/Periquito Australiano sem fundo.png" />
                </svg>
                <h2 class="fw-normal">Periquito Australiano</h2>
                <p> Os periquitos australianos, também conhecidos como periquitos-de-asa-longa, são aves populares como animais de estimação. Eles têm cores variadas, como azul, verde e amarelo. São aves ativas e sociais, muitas vezes interagindo com outros periquitos e com seus donos. Seu tamanho relativamente pequeno os torna ideais para espaços menores.</p>
                <p><a class="btn btn-danger" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle zoomable" width="140" height="140"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <circle cx="70" cy="70" r="70" fill="var(--bs-light)"></circle>
                <image x="0" y="0" width="140" height="140" xlink:href="assets/img/calopsita sem fundo.png" />
            </svg>
                <h2 class="fw-normal">Calopsita</h2>
                <p>A Calopsita é uma ave originária da Austrália, conhecida por sua plumagem cinza com bochechas e crista amarelas ou brancas. Com personalidade amigável e habilidade de aprender sons e até algumas palavras, elas são populares como animais de estimação. Precisam de espaço para voar, brinquedos e interação humana. Sua longevidade pode chegar a 10-20 anos com cuidados adequados. São aves sociais e interativas, ideais para quem busca um companheiro avícola envolvente.</p>
                <p><a class="btn btn-danger" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading fw-normal lh-1 text-custom-color">Canário <span class="text-body-secondary"></span></h1>
                <p class="lead"> Os canários são aves pequenas, com cerca de 10 a 15 cm de comprimento, dependendo da espécie. Eles possuem bicos finos e cônicos, geralmente são bastante coloridos e vêm em uma variedade de cores, incluindo amarelo, laranja, branco, verde e até mesmo variações de tons. A seleção artificial resultou em diferentes tipos de canários com características específicas, como canários de cor, canários de canto e canários de porte.</p>
                <p class="lead"> Uma das características mais notáveis dos canários machos é seu canto melodioso. Muitas pessoas os criam especificamente para ouvir suas músicas agradáveis e complexas. Canários de canto foram selecionados ao longo de gerações para produzir diferentes estilos de canto, variando desde trinados suaves até sequências mais complexas.</p>
                <p class="lead"> Os canários não são conhecidos por serem tão interativos com os humanos quanto algumas outras aves de estimação, como papagaios. No entanto, eles apreciam a observação humana e, se devidamente cuidados, podem se tornar mais confiantes com o tempo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="" height="100%" fill="var(--bs-light)"></rect>
                    <image x="0" y="0" width="100%" height="100%" xlink:href="assets/img/Canário.jpg" />
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading fw-normal lh-1 text-custom-color">Periquito Australiano<span
                        class="text-body-secondary"></span>
                </h1>
                <p class="lead"> Os Periquitos Australianos têm uma plumagem vibrante com uma combinação de cores, incluindo azul, verde, amarelo e branco. São pássaros relativamente pequenos, medindo cerca de 18 centímetros de comprimento. Os machos geralmente têm uma cere azul brilhante na base do bico, enquanto as fêmeas têm uma cere mais rosa ou marrom.</p>
                <p class="lead"> Os Periquitos Australianos têm a capacidade de aprender a reproduzir algumas palavras ou frases simples. No entanto, em comparação com papagaios maiores, seus repertórios de vocalização são mais limitados. Eles são mais conhecidos pelo seu canto alegre e chilreio.</p>
                <p class="lead"> Esses periquitos têm uma personalidade amigável e sociável. Eles podem se tornar laços fortes com seus donos e são frequentemente vistos interagindo uns com os outros. Eles são ativos e brincalhões, o que os torna animais de estimação divertidos de se observar.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="" height="100%" fill="var(--bs-light)"></rect>
                    <image x="0" y="0" width="100%" height="100%" xlink:href="assets/img/Periquito Australiano.jpg" />
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading fw-normal lh-1 text-custom-color">Calopsita <span class="text-body-secondary"></span>
                </h1>
                <p class="lead"> As Calopsitas são aves de tamanho médio, medindo cerca de 30 centímetros de comprimento, incluindo sua cauda comprida. Elas têm uma plumagem distintiva, geralmente predominantemente cinza, com bochechas e crista amarelas ou brancas. Existem também mutações de cores, que podem resultar em Calopsitas com padrões de cores diferentes, como canelas, lutinos e pérolas.</p>
                <p class="lead"> As Calopsitas são conhecidas por sua natureza sociável e amigável. Elas geralmente gostam de interagir com seus donos e formar laços fortes. Muitas Calopsitas podem ser ensinadas a subir no dedo do dono, e algumas gostam de se aconchegar nos ombros.</p>
                <p class="lead"> Uma das características marcantes das Calopsitas é sua capacidade de aprender a falar e reproduzir sons. Embora não sejam tão hábeis quanto alguns papagaios maiores, muitas Calopsitas podem aprender algumas palavras e frases simples. Elas também têm uma variedade de vocalizações, incluindo chilreios alegres e assobios.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="" height="100%" fill="var(--bs-light)"></rect>
                <image x="0" y="0" width="100%" height="100%" xlink:href="assets/img/calopsita.jpg" />
            </svg>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

</main>