.featurette-heading fw-normal lh-1 {
    color: #28a745;
}

.featurette-divider {
    border-color: #28a745;
}

.text-custom-color {
    color: #28a745;
}

.zoomable {
    transition: transform 0.3s ease; 
}

.zoomable:hover {
    transform: scale(1.1);
}