<main>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle zoomable" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <circle cx="70" cy="70" r="70" fill="var(--bs-light)"></circle>
                    <image x="0" y="0" width="140" height="140" xlink:href="assets/img/labrador sem fundo.png" />
                </svg>
                <h2 class="fw-normal">Labrador</h2>
                <p>Amigável e inteligente, o Labrador é um cão médio a grande originário do Canadá. É conhecido por sua
                    pelagem densa em cores como preto, amarelo e chocolate. É usado em busca e resgate devido à sua
                    inteligência e treinabilidade.</p>
                <p><a class="btn btn-success" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle zoomable" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <circle cx="70" cy="70" r="70" fill="var(--bs-light)"></circle>
                    <image x="0" y="0" width="140" height="140" xlink:href="assets/img/jackrussell sem fundo.png" />
                </svg>
                <h2 class="fw-normal">Jack Russell Terrier</h2>
                <p>O Jack Russell Terrier é um cão pequeno, enérgico e destemido, originário da Inglaterra. Com pelagem
                    variada e uma personalidade intensa, é inteligente, mas pode ser teimoso no treinamento. Requer
                    exercícios regulares e estimulação mental para ser feliz. Sua coragem e lealdade o fazem um
                    companheiro fiel, mas é melhor para donos ativos e experientes.</p>
                <p><a class="btn btn-success" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle zoomable" width="140" height="140"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <circle cx="70" cy="70" r="70" fill="var(--bs-light)"></circle>
                <image x="0" y="0" width="140" height="140" xlink:href="assets/img/Husky Siberiano sem fundo.png" />
            </svg>
                <h2 class="fw-normal">Husky Siberiano</h2>
                <p>Originário da Sibéria, o Husky Siberiano possui uma pelagem densa e olhos marcantes, frequentemente
                    azuis. É enérgico e independente, com uma história de trabalho como cão de trenó, exigindo atividade
                    física regular.</p>
                <p><a class="btn btn-success" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading fw-normal lh-1 text-custom-color">Labrador <span class="text-body-secondary"></span></h1>
                <p class="lead"> Essa raça é conhecida por sua inteligência e natureza amigável. Os Labradores são
                    excelentes cães de companhia e se destacam em várias funções, incluindo busca e resgate, assistência
                    a deficientes e terapia. Sua disposição sociável os torna ótimos com crianças, outros animais de
                    estimação e estranhos.</p>
                <p class="lead"> Os Labradores são enérgicos e precisam de exercícios regulares para manter sua saúde e
                    felicidade. Sua disposição alegre e brincalhona os torna companheiros ideais para famílias ativas.
                    Eles também possuem um instinto natural para buscar objetos, o que pode ser uma atividade divertida
                    e saudável para eles.</p>
                <p class="lead"> Embora sejam amigáveis, os Labradores ainda podem desempenhar um papel protetor em
                    relação à sua família e lar. Sua inteligência torna o treinamento possível, mas, assim como os Jack
                    Russells, podem exibir um toque de teimosia. A socialização desde cedo e a consistência no
                    treinamento são importantes para criar um Labrador bem-comportado.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="" height="100%" fill="var(--bs-light)"></rect>
                    <image x="0" y="0" width="100%" height="100%" xlink:href="assets/img/Labrador.jpg" />
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading fw-normal lh-1 text-custom-color">Jack Russell Terrier <span
                        class="text-body-secondary"></span>
                </h1>
                <p class="lead"> Os Jack Russells são cães pequenos, geralmente pesando entre 5 a 7 kg e medindo cerca
                    de 25 a 30 cm na altura dos ombros. Sua pelagem pode ser curta, áspera ou lisa, e suas cores variam,
                    incluindo branco com manchas de preto, marrom ou fogo.</p>
                <p class="lead"> São cães extremamente enérgicos e atléticos. Eles têm uma disposição ativa e precisam
                    de muito exercício e estimulação mental. Se não recebem atividade suficiente, podem desenvolver
                    comportamentos indesejados devido ao tédio.</p>
                <p class="lead"> Os Jack Russells são inteligentes e astutos. No entanto, sua teimosia e independência
                    podem tornar o treinamento um desafio. A socialização desde cedo e a consistência no treinamento são
                    fundamentais para criar um Jack Russell bem-comportado</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="" height="100%" fill="var(--bs-light)"></rect>
                    <image x="0" y="0" width="100%" height="100%" xlink:href="assets/img/JackRussellTerrier.jpg" />
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading fw-normal lh-1 text-custom-color">Husky Siberiano <span class="text-body-secondary"></span>
                </h1>
                <p class="lead"> Os Huskies Siberianos têm uma pelagem densa e dupla que pode variar em cores e padrões, incluindo cinza, preto, vermelho, branco e até mesmo variações de olhos (heterocromia). Seus olhos azuis ou de cores diferentes são uma característica icônica.</p>
                <p class="lead"> Os Huskies foram originalmente criados por tribos siberianas para puxar trenós, graças à sua força e resistência. Eles são conhecidos por sua capacidade de percorrer longas distâncias em condições extremas de frio.</p>
                <p class="lead"> Os Huskies têm uma personalidade independente e teimosa. Eles podem ser sociais e amigáveis, mas também têm uma inclinação para a independência, o que pode tornar o treinamento desafiador. Uma abordagem firme e consistente é importante no treinamento de um Husky.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="" height="100%" fill="var(--bs-light)"></rect>
                <image x="0" y="0" width="100%" height="100%" xlink:href="assets/img/Husky Siberiano.jpg" />
            </svg>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

</main>