<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">"Animais em Foco": Seu Portal de Notícias Abrangentes Sobre o Reino Animal</h1>
            <p class="lead my-3"> À medida que a conscientização sobre a importância da vida animal cresce, surge a necessidade de uma fonte confiável e informativa que abranja as diversas facetas do mundo animal. "Animais em Foco" é o seu destino online para notícias e histórias abrangentes sobre uma variedade de espécies e questões relacionadas aos animais.</p>
            <p class="lead mb-0"><a href="#" class="text-secondary fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Cachorros</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-body-secondary">Julh 15</div>
                    <p class="card-text mb-auto"> Novo Estudo Revela que Cachorros Possuem Habilidades Cognitivas Complexas</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link link-success link-underline-success">
                        Continue reading
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="310" height="250" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <image href="assets/img/homem com seus cachorros no parque.jpg" width="100%" height="100%" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-info">Gatos</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-body-secondary">Nov 11</div>
                    <p class="mb-auto"> Estudo Revela que Gatos Demonstram Habilidades de Comunicação com Humanos</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link link-info link-underline-info">
                        Continue reading
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="370" height="250" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <image href="assets/img/gato com pessoa.jpg" width="100%" height="100%" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                From the Firehose
            </h3>

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1"> Descoberta de Novas Espécies de Pássaros Revela a Diversidade da Avifauna</h2>
                <p class="blog-post-meta">January 1, 2021 by <a href="#" class="text-secondary fw-bold">Mark</a></p>

                <p>Uma emocionante descoberta no campo da ornitologia revelou duas novas espécies de pássaros anteriormente desconhecidas para a comunidade científica. Os achados foram resultado de uma expedição de pesquisa conduzida por um time de cientistas em uma região remota da Amazônia.</p>
                <p>As duas novas espécies, nomeadas como "Pintarroxo Amazônico" e "Tucano das Nuvens", foram identificadas com base em suas características físicas distintas, vocalizações únicas e análises genéticas. A descoberta ressalta a vasta biodiversidade da Amazônia e destaca a importância contínua da exploração científica em áreas pouco exploradas.</p>
                <hr>
                <h2 class="display-5 link-body-emphasis mb-1"> Programa Inovador Utiliza Cães Treinados para Detectar Doenças em Estágios Iniciais</h2>
                <p class="blog-post-meta">july 4, 2023 by <a href="#" class="text-secondary fw-bold">Clair</a></p>
                <p>Um programa de pesquisa pioneiro está utilizando o incrível olfato dos cães para identificar doenças em estágios iniciais, mostrando um potencial promissor para a detecção precoce e o tratamento eficaz. Pesquisadores em colaboração com instituições médicas desenvolveram um grupo de cães altamente treinados que podem identificar odores específicos associados a várias doenças.</p>
                <p>Os cães, que foram treinados por anos, demonstraram a habilidade surpreendente de identificar odores distintos associados a doenças como câncer de pulmão, diabetes tipo 1 e mal de Parkinson. Os pesquisadores acreditam que a capacidade olfativa aguçada dos cães pode detectar mudanças sutis nos compostos químicos emitidos pelo corpo humano em estágios iniciais dessas doenças.</p>
                <p>Os primeiros resultados do programa são impressionantes, com uma taxa de precisão notavelmente alta nas detecções dos cães. No caso do câncer de pulmão, por exemplo, os cães alcançaram uma taxa de acerto de mais de 90% em testes de amostras de urina. Isso levanta a possibilidade de que os cães possam desempenhar um papel significativo na triagem e diagnóstico precoce.</p>
                <hr>

            </article>

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">Gráfico Revela a Porcentagem de Animais em Situação de Rua</h2>
                <p class="blog-post-meta">December 23, 2022 by <a href="#" class="text-secondary fw-bold">Alice</a></p>

                <p>Em um cenário global de crescente urbanização e desafios socioeconômicos, a situação dos animais em situação de rua tornou-se uma preocupação cada vez mais urgente. Um gráfico recente traça um panorama alarmante da porcentagem de animais desabrigados em várias regiões do mundo, lançando luz sobre a necessidade de ações coordenadas para abordar essa questão complexa.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Continentes</th>
                            <th>Porcentagem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>América do Norte</td>
                            <td>5%</td>
                        </tr>
                        <tr>
                            <td>Europa</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td>Ásia</td>
                            <td>20%</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>África</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>América do Sul</td>
                            <td>15%</td>
                        </tr>
                        <tr>
                            <td>Oceania</td>
                            <td>8%</td>
                        </tr>
                    </tfoot>
                </table>

                <p>O gráfico revela uma ampla variação nas porcentagens de animais em situação de rua em diferentes regiões do globo. Enquanto a América do Norte e a Oceania apresentam números relativamente baixos, a África e algumas partes da Ásia enfrentam uma crise mais aguda.</p>
                <p>Embora as razões para o aumento desses números variem de acordo com as condições econômicas, políticas públicas, urbanização e cultura, a mensagem global é clara: é necessária uma abordagem holística para enfrentar essa situação. Campanhas de conscientização, programas de esterilização e castração, adoção responsável e cooperação entre governos e organizações de resgate de animais são essenciais para reduzir esses números e melhorar o bem-estar dos animais desabrigados.</p>
                <p>O gráfico reflete a complexidade da questão dos animais em situação de rua, destacando a necessidade de esforços conjuntos em âmbito local, nacional e global para lidar com esse desafio crescente. A conscientização e a ação são vitais para garantir um futuro melhor para esses animais vulneráveis em todo o mundo.</p>
            </article>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">Sobre</h4>
                    <p class="mb-0">
                        O seu espaço online dedicado a trazer notícias, histórias cativantes e informações educativas sobre o reino animal. Neste blog, exploramos uma variedade de tópicos relacionados a animais, desde descobertas científicas até histórias de resgate emocionantes, tudo isso com o objetivo de compartilhar o fascinante mundo dos animais que nos rodeiam.</p>
                </div>

                <div>
                    <h4 class="fst-italic">Recent posts</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                href="#">
                                <svg class="bd-placeholder-img" width="100%" height="96"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#fff"></rect>
                                    <image href="assets/img/Passaros-voando.jpg" width="100%" height="100%" />
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0">Estudo Revela a Incrível Capacidade de Navegação de Pássaros Migratórios</h6>
                                    <small class="text-body-secondary">January 15, 2020</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                href="#">
                                <svg class="bd-placeholder-img" width="100%" height="96"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#fff"></rect>
                                    <image href="assets/img/montanha.jpg" width="100%" height="100%" />
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0"> Parque Nacional Anuncia a Recuperação Bem-Sucedida de Espécie de Pássaro Ameaçada</h6>
                                    <small class="text-body-secondary">August 14, 2021</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                href="#">
                                <svg class="bd-placeholder-img" width="100%" height="96"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#fff"></rect>
                                    <image href="assets/img/gatooo.jpg" width="100%" height="100%" />
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0">Gatos de Abrigo Recebem Programa de Leitura para Benefício Mútuo</h6>
                                    <small class="text-body-secondary">June 13, 2023</small>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="p-4">
                    <h4 class="fst-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a class="text-secondary" href="#">GitHub</a></li>
                        <li><a class="text-secondary" href="#">Twitter</a></li>
                        <li><a class="text-secondary" href="#">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</main>