<main>

    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle zoomable" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <circle cx="70" cy="70" r="70" fill="var(--bs-light)"></circle>
                    <image x="0" y="0" width="140" height="140" xlink:href="assets/img/gato siames sem fundo.png" />
                </svg>
                <h2 class="fw-normal">Siamês</h2>
                <p>Os gatos siameses são conhecidos por suas marcas distintas de cor nas extremidades do corpo (pontos), como orelhas, focinho, patas e cauda, com o corpo em uma tonalidade mais clara. Eles são comunicativos e expressivos, muitas vezes "conversando" com seus donos. Além disso, são gatos afetuosos, que gostam de interagir e ser o centro das atenções.</p>
                <p><a class="btn btn-info" href="gato#secao-siames">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle zoomable" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <circle cx="70" cy="70" r="70" fill="var(--bs-light)"></circle>
                    <image x="0" y="0" width="140" height="140" xlink:href="assets/img/Gato American Shorthair sem fundo.png" />
                </svg>
                <h2 class="fw-normal">American Shorthair</h2>
                <p>O American Shorthair é um gato de pelagem curta e densa, disponível em várias cores e padrões. Com origens como caçadores de pragas em fazendas, têm personalidade afetuosa e equilibrada, sendo bons com crianças e outros animais. São inteligentes, curiosos e se adaptam facilmente a ambientes domésticos. Sua manutenção de pelagem é relativamente simples.</p>
                <p><a class="btn btn-info" href="gato#secao-american">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle zoomable" width="140" height="140"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <circle cx="70" cy="70" r="70" fill="var(--bs-light)"></circle>
                <image x="0" y="0" width="140" height="140" xlink:href="assets/img/gato persa sem fundo.png" />
            </svg>
                <h2 class="fw-normal">Persa</h2>
                <p>Os gatos persas são reconhecidos por suas faces planas, olhos grandes e pelagem longa e exuberante. Eles têm personalidades tranquilas e são conhecidos por serem gatos de colo e companhia. No entanto, devido à sua pelagem densa, eles requerem cuidados regulares de higiene para evitar emaranhados. São ideais para ambientes internos, onde podem desfrutar de conforto e atenção constante.</p>
                <p><a class="btn btn-info" href="gato#secao-persa">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div id="secao-siames" class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading fw-normal lh-1 text-custom-color">Siamês <span class="text-body-secondary"></span></h1>
                <p class="lead"> Os gatos Siameses são conhecidos por seus corpos esguios e musculosos, com uma pelagem curta e sedosa. A característica mais marcante são os pontos de cor mais escura nas extremidades do corpo, como orelhas, focinho, patas e cauda, em contraste com o corpo de cor mais clara.</p>
                <p class="lead"> Os Siameses são conhecidos por sua natureza comunicativa e vocal. Eles são famosos por "conversar" com seus donos, expressando suas opiniões e sentimentos por meio de uma variedade de sons. São gatos afetuosos e muitas vezes procuram interações próximas com seus donos.</p>
                <p class="lead"> Eles são gatos altamente inteligentes e curiosos. Adoram explorar e brincar, mas também desfrutam de momentos tranquilos de carinho. Siameses se dão bem com famílias ativas e envolventes que podem fornecer estímulo mental e atividades interativas.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="" height="100%" fill="var(--bs-light)"></rect>
                    <image x="0" y="0" width="100%" height="100%" xlink:href="assets/img/gato siames.jpg" />
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div id="secao-american" class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading fw-normal lh-1 text-custom-color">American Shorthair <span
                        class="text-body-secondary"></span>
                </h1>
                <p class="lead"> Os American Shorthairs têm pelagem curta e densa, com uma variedade de cores e padrões, incluindo listras, manchas e bicolores. Eles têm uma construção robusta e musculosa, com proporções equilibradas que lhes conferem uma aparência clássica.</p>
                <p class="lead"> Os American Shorthairs são conhecidos por sua natureza amigável e equilibrada. Eles são gatos que tendem a se dar bem com membros da família, incluindo crianças e outros animais de estimação. Sua personalidade tranquila os torna excelentes companheiros para ambientes domésticos.</p>
                <p class="lead"> Essa raça é inteligente e curiosa, o que os faz apreciar brinquedos e atividades que estimulem suas mentes. Eles gostam de explorar e descobrir coisas novas em seu ambiente.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="" height="100%" fill="var(--bs-light)"></rect>
                    <image x="0" y="0" width="100%" height="100%" xlink:href="assets/img/Gato American Shorthair.jpg" />
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div id="secao-persa" class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading fw-normal lh-1 text-custom-color">Persa <span class="text-body-secondary"></span>
                </h1>
                <p class="lead"> Os gatos persas têm uma pelagem longa e densa que vem em uma ampla variedade de cores e padrões. Seus pelos exigem cuidados regulares para evitar emaranhados e manter sua aparência elegante.</p>
                <p class="lead"> Os persas são conhecidos por sua natureza tranquila e serena. Eles são gatos que gostam de relaxar e desfrutar da companhia de seus donos. Sua personalidade calma os torna ideais para ambientes domésticos mais tranquilos.</p>
                <p class="lead"> Esses gatos têm uma inclinação natural para serem gatos de colo. Eles gostam de receber carinho e atenção de seus donos, preferindo estar perto deles.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="" height="100%" fill="var(--bs-light)"></rect>
                <image x="0" y="0" width="100%" height="100%" xlink:href="assets/img/gato persa.jpg" />
            </svg>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

</main>